
.main {


  .title {
    font-size: 2.125rem;
    color: white;
    font-weight: 500;
  }

  .footer {
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
    height: 65px;
    background-color: #131313;;
  }

  .font {
    font-size: .8rem;
  }


 .card img {
    transition: 0.5s;
  }

  .card:hover img {
    transform: scale(1.1);
    overflow: hidden;
  }

}
