/* You can add global styles to this file, and also import other style files */

body, html {
  background-color: #131313;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  border-radius: 0;
}


